<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/SLocalTourist.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>vn.sloco.tourist</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>4</string>
		<key>SigningIdentity</key>
		<string>Apple Distribution: Tung Pham (7ANTMTJ9KP)</string>
		<key>Team</key>
		<string>7ANTMTJ9KP</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2026-05-05T10:04:29Z</date>
	<key>Name</key>
	<string>SLocalTourist</string>
	<key>SchemeName</key>
	<string>SLocalTourist</string>
</dict>
</plist>
