<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SLocalTourist.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6CB64AA9FB006E85C15699A01F535C2779E724A3</string>
				<key>dateExpires</key>
				<string>5/5/27</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6CB64AA9FB006E85C15699A01F535C2779E724A3</string>
						<key>dateExpires</key>
						<string>5/5/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANTMTJ9KP</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>12.12.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3.5.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6CB64AA9FB006E85C15699A01F535C2779E724A3</string>
						<key>dateExpires</key>
						<string>5/5/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAdsOnDeviceConversion.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANTMTJ9KP</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6CB64AA9FB006E85C15699A01F535C2779E724A3</string>
						<key>dateExpires</key>
						<string>5/5/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANTMTJ9KP</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>12.12.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6CB64AA9FB006E85C15699A01F535C2779E724A3</string>
						<key>dateExpires</key>
						<string>5/5/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7ANTMTJ9KP</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>12.12.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7ANTMTJ9KP.vn.sloco.tourist</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>7ANTMTJ9KP</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SLocalTourist.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>150cf04e-9d3a-4547-9d4c-830f2c153c23</string>
				<key>dateExpires</key>
				<string>5/5/27</string>
				<key>name</key>
				<string>vn.sloco.tourist App Store</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7ANTMTJ9KP</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
